.idea
.git
target
.DS_Store
common-utils/target
taotao-manager/taotao-manager-pojo/target
taotao-manager/taotao-manager-mapper/target
taotao-manager/taotao-manager-service/target
taotao-manager/taotao-manager-web/target
